.page-layout {
    padding-top: 100px;
  .ad-banner {
    width: 100%;
    height: 200px;
    border-radius: 10px;
    //margin-top: 15px;
  }

  .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 2rem;


  }

  .main-content {
    display: flex;
    flex: 3;
    //padding: 0 2rem;
    //padding-left: 4rem;

    h1 {
      margin-bottom: 2rem;
      font-size: 34px;
    }

    h2 {
      margin-bottom: 15px;
      font-size: 26px;
      display: inline-block;
    }

    h3{
      margin-bottom: 10px;
    }

    p {
      font-size: 1.2rem;
      margin-bottom: 2rem;
      //margin-left: 10px;
      line-height: 19px;
    }

    .pictures {
      display: flex;
      flex-wrap: wrap;
      gap: 1rem;
      justify-content: center;
      align-items: center;
  
    }

    #img-default {
      width: 100%;
      height: auto;
      border-radius: 8px;
      object-fit: cover;
      margin-bottom: 20px;
    }

    small{
      display: block;
      margin-bottom: 10px;
    }

    .images-layout {
      //width: 100%;
      height: 500px;
      border-radius: 10px;
      object-fit: cover;
      margin-bottom: 1rem;
      flex: 1;
    }

    .toBuy {
      max-width: 100%;
      margin-top: 1rem;
      font-size: 1.2rem;
      background-color: #F7D488;

      
      border-radius: 5px;

      a {
        width: 100%;
        height: 100%;
        padding: 20px 15px;
        cursor: pointer;
        text-align: center;
        color: #121212;
        text-decoration: none;
        font-weight: bold;
        display: flex;
        justify-content: center;

        &:hover {
          color: #ffffff;
        }
      }

      

    }

  }
}

ul{
  margin-bottom: 20px;
}

li{
  margin-bottom: 5px;
  margin-left: 10px;
}

.reference-articles{
  max-width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  flex-wrap: wrap;
  padding: 2rem;
  margin-top: 100px;

  h4{
    font-size: 30px;
    margin-left: 15px;
  }

  a{
    text-decoration: none;
    color: #ffffff;
  }


  .links-articles{
    max-width: 600px;
    
  }

  .other-articles{
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
  
  }
}





@media screen and (max-width: 1071px) {
  .side2 {
    display: none;
  }

  .main-content {
    padding-left: 0.1rem !important;
  }

  .page-layout{
    padding: 0;
    margin: 0;
  }
}

@media screen and (max-width: 1293px) {

  .images-layout{
    width: auto;
    height: 300px !important;
  }
}

@media screen and (max-width: 1675px) {

}

@media screen and (max-width: 1600px) {
  .pictures{
    // flex-direction: column;
    align-items: center;
    gap: 5px !important;
    height: auto !important;
    width: auto !important;
  }
  
  .images-layout {
    height: 300px !important;
    object-position: top;
  }
}

@media screen and (min-width: 1600px) {
  
  .images-layout {
    //height: 300px !important;
    object-position: top;
  }
}

@media screen and (min-width: 1700px) {
  .images-layout{
    object-fit: top !important;
  }
}

@media screen and (max-width: 930px) {
  .images-layout {
    width: 100% !important;
    height: auto !important;
  }

  #img-default{
    width: 100%;
    height: auto;
    object-fit: cover;
  }

  .sidebar{
    display: none;
  }
}


@media screen and (max-width: 600px) {
  .sidebar {
    display: none;
  }
}

@media screen and (max-width: 600px) {
  .sidebar {
    display: none;
  }

  .main-content{
    flex: 4;
  }
}

@media screen and (max-width: 451px) {
 .reference-articles{
  padding: 0;
  h2{
    
  }
  p{
    font-size: 14px;
  }
 }
}

@media screen and (max-width: 1170px) {
  .main-content{
    flex: 4;
  }
}

@media screen and (max-width: 1295px) {
  .sidebar{
    flex: 1;
  }

  .main-content{
    flex: 4 !important;
  }
}