.sidebar {
  flex: 1;
  height: 100vh;
  padding: 1rem;
  border-radius: 8px;
 // background-color: red;
}

.ad-space {
  width: 100%;
  text-align: center;
  padding: 1rem 0;
}

.ad-banner {
  width: 100%;
  height: 200px;
  border-radius: 10px;
  
}