main {
  // background-image: url("../../assets/close-up-money-put-aside-savings.jpg");
  // background-repeat: no-repeat;
  // background-size: cover;
  position: relative;
  height: 100vh;
  overflow: hidden;

  .video-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    overflow: hidden;

    video {
      position: absolute;
      top: 50%;
      left: 50%;
      min-width: 100%;
      min-height: 100%;
      transform: translate(-50%, -50%);
      object-fit: cover;
    }

    .overlay {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.733); // Altere a opacidade conforme necessário
      z-index: 2; // Coloca o overlay acima do vídeo
    }

  }


  .content {
    // background-color: green;
    position: relative;
    z-index: 3;
    padding: 20px;

    h1 {
      text-align: center;
      color: #FFFF;


    }

    h3 {
      text-align: center;
      color: #FFFF;


    }

  }



}

