.container {
  position: relative;
}

.navbar-default {
  width: 100%;
  max-height: 80px;
  color: #fff;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-bottom: 1px solid #cccccc50;
  z-index: 8;

  &.solid {
    background-color: #121212;
    position: fixed;
  }

  &.transparent {
    background-color: rgba(0, 0, 0, 0);
    position: absolute;
    z-index: 8;
  }

  .logo {
    width: auto;
    height: 80px;
  }

  .links {
    list-style: none;
    margin: 0;
    padding: 0;
    display: none;
    gap: 2rem;

    li {
      position: relative;
    }

    .link {
      text-decoration: none;
      color: #fff;
      transition: color 0.3s ease-in-out;
      font-weight: bold;
      padding: 0px 1.5rem;
      position: relative;
      display: inline-block;

      &::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: -5px;
        width: 0%;
        height: 2px;
        background-color: #f7d488;
        transition: width 0.4s ease-in-out;
      }

      &:hover {
        color: #f7d488;

        &::after {
          width: 100%;
        }
      }
    }

    .arrow {
      margin-left: 5px;
    }

    .dropdown-content {
      display: none;
      position: absolute;
      background-color: #333;
      padding: 10px 0;
      margin-top: 5px;
      min-width: 200px;
      box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
      z-index: 3;

       /* Adicionado para mobile */
      &.visible {
        display: block;
      }

      span {
        color: grey;
        padding: 10px;
        display: block;
      }

      a {
        color: #fff;
        text-decoration: none;
        display: block;
        padding: 10px 20px;

        &:hover {
          background-color: #575757;
        }
      }
    }

    .dropdown:hover .dropdown-content {
      display: block;
    }
  }
}

.bottom-navbar {
  display: flex;
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #121212;
  padding: 10px 0;
  display: flex;
  justify-content: space-around;
  box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.5);
  z-index: 105;
}

.bottom-navbar .nav-icon {
  color: white;
  text-align: center;
  font-size: 20px;
  text-decoration: none;
  transition: color 0.3s ease;
  cursor: pointer;
}

.bottom-navbar .nav-icon:hover {
  color: #f0e68c;
}

.nav-icon {
  color: white;
  font-size: 24px;
  text-decoration: none;
  cursor: pointer;

  &:hover {
    color: #f7d488;
  }
}

.nav-icon i {
  display: block;
}

.sidebar-container {
  position: fixed;
  top: 0;
  left: -300px; /* Fora da tela inicialmente */
  width: 300px;
  height: 100%;
  background-color: #333;
  color: white;
  display: flex;
  flex-direction: column;
  padding: 20px;
  transition: left 0.3s ease;
  z-index: 1000;
}

.sidebar-container.open {
  left: 0;
}

.sidebar-container .close-btn {
  align-self: flex-end;
  font-size: 24px;
  background: none;
  border: none;
  color: white;
  cursor: pointer;
  margin-bottom: 20px;
}

.sidebar-nav {
  display: flex;
  flex-direction: column;
}

.sidebar-nav a {
  text-decoration: none;
  color: white;
  padding: 10px 0;
  font-size: 18px;
  transition: background 0.3s ease;
  cursor: pointer;
  position: relative; /* Adicionado para posicionar o ::after */

  &::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 0%;
    height: 2px;
    background-color: #f7d488;
    transition: width 0.4s ease-in-out;
  }

    &:hover {
    background: #444;
      &::after{
        width: 100%;
      }
    }

    &.sidebar-link { // Estilos específicos para o sidebar link
      // Adicione aqui os estilos que desejar para o sidebar-link, por exemplo:
      display: flex;
      align-items: center;
      justify-content: space-between; // Para alinhar a seta
      padding: 15px 20px; // Espaçamento interno

      &:hover {
          // ... outros estilos de hover
      }

      .arrow{
          transition: transform 0.3s ease-in-out;
      }
      &:hover .arrow {
          transform: rotate(180deg);
      }

  }


}

.dropdown-mobile { // Estilos para o NavLink pai
  position: relative; // Necessário para posicionar o dropdown
    .dropdown-content-mobile {
      display: none; // Inicia oculto
      position: absolute;
      left: 0; // Posiciona à esquerda do link
      top: 100%; // Posiciona abaixo do link
      background-color: #333;
      padding: 10px 0;
      min-width: 150px;
      box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
      z-index: 3;

      span {
        color: grey;
        padding: 10px;
        display: block;
      }

    }

    &:hover .dropdown-content-mobile { // Mostra ao passar o mouse
      display: block;
    }

}

.sidebar-nav .dropdown-sidebar{
    position: relative;
    .dropdown-content{
      &.visible{
        display: block;
      }
    }
}

a {
  cursor: pointer;
}

/* Overlay para fechar o menu ao clicar fora dele */

.overlay-mobile {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 999;
  color: #fff;
}

@media screen and (min-width: 934px) {
  .bottom-navbar {
    display: none;
  }

  .links {
    display: flex !important;
  }
}