.container-blog{
  //background-color: green;
  display: flex;
  flex-direction: column;
}

.principal-view {
  width: 100%;
  //background-color: red;
  display: flex;
  justify-content: center;
  align-items: start;
  padding-left: 5rem;
  flex-direction: column;
  margin-top: 100px;

  p{
    font-size: 24px;
    margin-bottom: 20px;
    font-weight: bold;
  }

  h1 {
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 50px;
    position: relative;
    animation: shake 2s infinite;
    z-index: 0;


    @keyframes shake {
      0% {
        transform: translateX(0);
      }

      10% {
        transform: translateX(-5px);
      }

      20% {
        transform: translateX(5px);
      }

      30% {
        transform: translateX(0);
      }
    }

  }
}

.articles {
  display: flex;
  gap: 15px;
}

.news-articles {
  flex: 4;
  margin-left: 4rem;

  .links-articles {
    text-decoration: none;
    color: #FFF;
  }
}

.ads-google {
  flex: 1;
  width: 300px;
  height: 550px;
  //background-color: #f8f9fa;
  margin-right: 30px;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  &:hover {
    //background-color: #d4d4d4;
  }
}

.pagination {
  text-align: center;
  margin-top: 20px;
  //background-color: #343a40;

  button{
    padding: 20px 10px;
    color: #FFF;
    background-color: #343a40;
    border: none;
    border-radius: 8px;
    width: 300px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-weight: bold;
    &:hover {
      background-color: #212529;
      color: #F7D488;
    }

  }

  a {
    margin-right: 10px;
    font-size: 24px;
    text-decoration: none;
    color: #FFF;
  }

  a:hover {
    color: #007bff;
  }
}

.sidebar-container {
  position: fixed;
  top: 0;
  left: -300px; /* Fora da tela inicialmente */
  width: 300px;
  height: 100%;
  background-color: #333;
  color: white;
  display: flex;
  flex-direction: column;
  padding: 20px;
  transition: left 0.3s ease;
  z-index: 102;
}

/*
.sidebar-container.open {
  left: 0; 
}
*/

.sidebar .close-btn {
  align-self: flex-end;
  font-size: 24px;
  background: none;
  border: none;
  color: white;
  cursor: pointer;
  margin-bottom: 20px;
}

.sidebar-nav{
  display: flex;
  flex-direction: column;

}


.sidebar-nav a {
  text-decoration: none;
  color: white;
  padding: 10px 0;
  font-size: 18px;
  transition: background 0.3s ease;
}

.sidebar-nav a:hover {
  background: #444;
}

/* Overlay para fechar o menu ao clicar fora dele */

.overlay-mobile {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 101;
  color: #FFF;
}