.container-blog {
  display: flex;
  flex-direction: column;
}

.principal-view {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: start;
  padding-left: 3rem;
  flex-direction: column;
  margin-top: 100px;

  p {
    font-size: 24px;
    margin-bottom: 20px;
    font-weight: bold;
  }

  h1 {
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 50px;
    position: relative;
    animation: shake 2s infinite;
    z-index: 0;

    @keyframes shake {
      0% {
        transform: translateX(0);
      }

      10% {
        transform: translateX(-5px);
      }

      20% {
        transform: translateX(5px);
      }

      30% {
        transform: translateX(0);
      }
    }

  }
}

.content {
  display: flex;
  flex-wrap: wrap;
}

.categories-sidebar {
  width: 250px;
  padding: 20px;
  background-color: #1a1a1a;
  color: white;
  border-right: 1px solid #333;
  margin-left: 10px;
  border-radius: 8px;
}

.categories-sidebar h3 {
  font-size: 18px;
  margin-bottom: 15px;
}

.categories-sidebar ul {
  list-style: none;
  padding: 0;
}

.categories-sidebar li {
  margin-bottom: 10px;
}

.category-button {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  color: white;
  background-color: #242424;
  text-align: left;
  cursor: pointer;
  font-size: 16px;
}

.category-button.active {
  background-color: #F7D488;
  color: #121212;
  font-weight: 600;
}

.category-button:hover {
  background-color: #333;
  color: #FFF;
}

.articles {
  flex: 4;
  padding: 20px;
}

.pagination {
  margin-top: 20px;
  text-align: center;
}

.pagination button {
  padding: 10px 20px;
  background-color: #F7D488;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.pagination button:hover {
  background-color: #F7D488;
}

a {
  color: #FFF;
  text-decoration: none;
}


@media (max-width: 782px) {
  .categories-sidebar {
    width: 98%;
    border-right: none;
    border-bottom: 1px solid #333;
    padding: 10px 20px;
    margin-right: 10px;
  }

 

  .categories-sidebar ul {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    padding: 10px 0;
    margin: 0;
    gap: 10px;
    scroll-behavior: smooth;
  }

  .categories-sidebar li {
    flex: 0 0 auto;
    margin-bottom: 0;
  }

  .category-button {
    width: auto;
    padding: 8px 12px;
    white-space: nowrap;
    text-align: center;
    font-size: 14px;
    background-color: #1a1a1a;
  }

  .category-button.active {
    background-color: #F7D488;
    color: #121212;
    font-weight: 600;
  }
}

@media screen and (max-width: 357px) {
  .categories-sidebar {
    width: 100%;
  }
}


@media screen and (max-width: 1000px) {
  .ads-google {
    margin-right: 0;
  }

  .news-articles {
    margin-left: 0;
  }

  .principal-view {
    padding-left: 1rem;
  }
}

@media screen and (max-width: 720px) {
  .ads-google {
    display: none;
  }
}

@media screen and (max-width: 1241px) {
  .ads-google {
    display: none;
  }
}