.card-news{
  width: 100%;
  padding: 10px 15px;
  min-height: 150px;
  display: flex;
  gap: 15px;
 // background-color: green;


}

.photo-frame{
  width: 300px;
  height: 150px;
  border-radius: 10px;

  .frame-logo{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
  }
}

.data-criacao{
  margin-top: 10px;
  font-size: 14px;
  color: #888;
  font-style: italic;
}

.titulo{
  margin-top: 10px;
  font-weight: bold;
  font-size: 24px;
}

.description{
  font-size: 18px;
  margin-top: 10px;
  text-align: justify;
  max-width: 400px;
  
}

.card-news:hover{
  background-color: #2E2E2E;
  cursor: pointer;
  border-radius: 10px;
}

@media screen and (max-width: 940px) {
 
}

@media screen and (max-width: 569px) {
  .photo-frame{
    height: 180px;
  }
}

@media screen and (max-width: 563px) {
  .description{
    font-size: 16px;
    min-width: 90%;
  }
}

@media screen and (max-width: 533px) {
    .photo-frame{
      height: 150px;
      width: 150px;
      display: flex;
      align-items: center;
    }

    .frame-logo{
      height: 100px !important;
    }
}