:root {
  --text-p: rgba(255, 255, 255, 0.95);
  --title: rgba(255, 255, 255, 1);
  --bgDark800: #121212;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


::-webkit-scrollbar {
  width: 12px; 
}

::-webkit-scrollbar-track {
  background: #333; 
  border-radius: 10px; 
}

::-webkit-scrollbar-thumb {
  background-color: #555; 
  border-radius: 10px; 
  border: 3px solid transparent; 
  background-clip: padding-box; 
}

::-webkit-scrollbar-thumb:hover {
  background-color: #777; 
}



html{
  font-family: "Roboto Condensed", sans-serif;
  color: var(--text-p);
  background-color: var(--bgDark800);
}
